In [2]:
# import packages
import pandas as pd
from geopy import Nominatim

In [3]:
# read the csv file to df
colomboCensus = pd.read_csv('colomboCensus.csv')
colomboCensus.head()

        DS                GN GN Number Both sexes    Male  Female
0  Colombo  Sammanthranapura       NaN      7,829   4,017   3,812
1  Colombo      Mattakkuliya       NaN     28,003  14,029  13,974
2  Colombo            Modara       NaN     17,757   8,794   8,963
3  Colombo       Madampitiya       NaN     12,970   6,505   6,465
4  Colombo         Mahawatta       NaN      8,809   4,367   4,442

In [11]:
# define a list to store the outputs
colomboLocations = []
# define a Nominatum object to get location data
locator = Nominatim(user_agent='myApp')
# get the location data of each location add to df
for brough, neighborhood in zip(colomboCensus['DS'], colomboCensus['GN']):
    address = '{}, {}, Sri Lanka'.format(neighborhood, brough)
    row = {}
    location = None
    # get location data using geopy
    location = locator.geocode(address)
    # populate the row dict with extracted data
    row['DS'] = brough
    row['GN'] = neighborhood
    if location is not None:
        row['Label'] = location.address
        row['Latitude'] = location.latitude
        row['Longitude'] = location.longitude
    else:
        row['Label'] = 'NaN'
        row['Latitude'] = 0
        row['Longitude'] = 0

    # add the dict to list
    colomboLocations.append(row)

In [14]:
tempDF = pd.DataFrame(colomboLocations)
tempDF[tempDF['Label'] == 'NaN']

            DS                 GN Label  Latitude  Longitude
0      Colombo   Sammanthranapura   NaN       0.0        0.0
13     Colombo         New Bazaar   NaN       0.0        0.0
18     Colombo         Khettarama   NaN       0.0        0.0
28     Colombo         Keselwatta   NaN       0.0        0.0
35   Kolonnawa            Wadulla   NaN       0.0        0.0
..         ...                ...   ...       ...        ...
552    Kesbewa  Batuwandara South   NaN       0.0        0.0
553    Kesbewa        Jamburaliya   NaN       0.0        0.0
554    Kesbewa            Polhena   NaN       0.0        0.0
555    Kesbewa      Regidel Watta   NaN       0.0        0.0
556    Kesbewa           Kahapola   NaN       0.0        0.0

[299 rows x 5 columns]

In [18]:
neighborhood = 'Sammanthranapura'
address = '{}, Colombo, Sri Lanka'.format(neighborhood)
location = locator.geocode(address)
print(location)

None